

body {
  background-color: #c8c1ee;
}
h1 {
  color: rgb(194, 19, 19);
  font-size: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li {
  color: azure;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; 
  }

.box {
  background-color: darkslateblue;
  padding: 5px;
  margin: 10px;
}